<div class="m-3">

    <!-- Modal -->
    <div class="modal fade" id="deleteItemModal" data-backdrop="false">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Item</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete item {{itemToDelete}}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" (click)="deleteItem()">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="message != null">
        <div *ngIf="success" class="alert alert-success">{{message}}</div>
        <div *ngIf="!success" class="alert alert-danger">{{message}}</div>
    </div>

    <div *ngIf="!editMode">
        <div class="m-3">
            <a class="btn btn-outline-success" data-bs-toggle="collapse" href="#addForm" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
            </a>
        </div>

        <div class="collapse m-5" id="addForm">
            <form [formGroup]="itemForm" (ngSubmit)="addItem()">
                <div class="form-group">
                    <label for="">Item name</label>
                    <input type="text" class="form-control" formControlName="itemName"
                        [class.is-invalid]="itemName.invalid && itemName.touched">
                    <small [class.d-none]="itemName.valid || itemName.untouched" class="text-danger">Enter your item's
                        name</small>
                </div>
                <div class="form-group">
                    <label for="">Price</label>
                    <input type="number" class="form-control" formControlName="price"
                        [class.is-invalid]="price.invalid && price.touched">
                    <small [class.d-none]="price.valid || price.untouched" class="text-danger">Enter your item's
                        price</small>
                </div>
                <div class="mb-3 form-group">
                    <label for="">Category</label>
                    <select class="form-select" formControlName="category"
                        [class.is-invalid]="category.invalid && category.touched">
                        <option *ngFor="let category of categories;" value="{{category.id}}">{{category.categoryName}}
                        </option>
                    </select>
                    <small [class.d-none]="category.valid || category.untouched" class="text-danger">Enter your item's
                        category</small>
                </div>

                <input [disabled]="itemForm.invalid" type="submit" value="Add item" class="btn btn-primary m-3">
            </form>
        </div>
    </div>

    <table class="table table-striped table-hover table-light">
        <thead class="table-light">
            <tr>
                <th></th>
                <th>Id</th>
                <th>Category</th>
                <th>Item Name</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items; let i = index">
                <td><button (click)="onEdit(item)" class="btn btn-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil" viewBox="0 0 16 16">
                            <path
                                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                        </svg>
                    </button></td>
                <td>{{item.id}}</td>
                <td>{{item.category.categoryName}}</td>
                <td>{{item.itemName}}</td>
                <td>{{item.price}}</td>
                <td><button class="btn btn-danger" (click)="confirmDelete(item.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash" viewBox="0 0 16 16">
                            <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd"
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                    </button></td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="editMode">
        <form [formGroup]="editForm" (ngSubmit)="saveChanges()">
            <div class="form-group">
                <label for="">Item name</label>
                <input type="text" class="form-control" formControlName="itemName"
                    [class.is-invalid]="editForm.get('itemName').invalid && editForm.get('itemName').touched">
                <small [class.d-none]="editForm.get('itemName').valid || editForm.get('itemName').untouched"
                    class="text-danger">Enter your item's name</small>
            </div>
            <div class="form-group">
                <label for="">Price</label>
                <input type="number" class="form-control" formControlName="price"
                    [class.is-invalid]="editForm.get('price').invalid && editForm.get('price').touched">
                <small [class.d-none]="editForm.get('price').valid || editForm.get('price').untouched"
                    class="text-danger">Enter your item's price</small>
            </div>
            <div class="mb-3 form-group">
                <label for="">Category</label>
                <select class="form-select" formControlName="category"
                    [class.is-invalid]="editForm.get('category').invalid && editForm.get('category').touched">
                    <option *ngFor="let category of categories;" value="{{category.id}}">{{category.categoryName}}
                    </option>
                </select>
                <small [class.d-none]="editForm.get('category').valid || editForm.get('category').untouched"
                    class="text-danger">Enter your item's category</small>
            </div>

            <div class="row">
                <div class="col-8"><a class="btn btn-link m-3" href="/inventory">Cancel</a></div>
                <div class="col-4"><input [disabled]="editForm.invalid" type="submit" value="Save"
                        class="btn btn-primary m-3"></div>
            </div>
        </form>
    </div>

</div>