<div class="m-3">
    <div *ngIf="message != null">
        <div *ngIf="success" class="alert alert-success">{{message}}</div>
        <div *ngIf="!success" class="alert alert-danger">{{message}}</div>
    </div>
    
    <div class="m-3">
        <a class="btn btn-outline-success" data-bs-toggle="collapse" href="#addForm" role="button" aria-expanded="false" aria-controls="collapseExample">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
          </a>        
    </div>

    <div class="collapse m-5" id="addForm">
        <form [formGroup]="itemForm" (ngSubmit)="addItem()">
            <div class="form-group">
                <label for="">Item name</label>
                <input type="text" class="form-control" formControlName="itemName" [class.is-invalid]="itemName.invalid && itemName.touched">
                <small [class.d-none]="itemName.valid || itemName.untouched" class="text-danger">Enter your item's name</small>
            </div>
            <div class="form-group">
                <label for="">Price</label>
                <input type="number" class="form-control" formControlName="price" [class.is-invalid]="price.invalid && price.touched">
                <small [class.d-none]="price.valid || price.untouched" class="text-danger">Enter your item's price</small>
            </div>
            <div class="mb-3 form-group">
                <label for="">Category</label>
                <select class="form-select" formControlName="category" [class.is-invalid]="category.invalid && category.touched">
                    <option value="Bed Room">Bed Room</option>
                    <option value="Living room">Living room</option>
                    <option value="Kitchen">Kitchen</option>
                    <option value="Garage">Garage</option>
                </select>
                <small [class.d-none]="category.valid || category.untouched" class="text-danger">Enter your item's category</small>
            </div>

            <input [disabled]="itemForm.invalid" type="submit" value="Add item" class="btn btn-primary m-3">
        </form>
    </div>

    <table class="table table-striped table-hover table-light">
        <thead class="table-light">
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Item Name</th>
                <th>Price</th>
                <th>Owner</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items; let i = index">
                <td>{{item.id}}</td>
                <td>{{item.category.categoryName}}</td>
                <td>{{item.itemName}}</td>
                <td>{{item.price}}</td>
                <td>{{item.owner}}</td>
                <td><button class="btn btn-danger" (click)="deleteItem(item.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash" viewBox="0 0 16 16">
                            <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd"
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                    </button></td>
            </tr>
        </tbody>
    </table>
</div>