<h1>Sign up</h1>
<form class="m-3" [formGroup]="signupForm" (ngSubmit)="createAccount()">
    <div class="form-group">
        <label for="">Email</label>
        <input type="text" class="form-control" formControlName="email"
            [class.is-invalid]="signupForm.get('email').invalid && signupForm.get('email').touched">
        <small [class.d-none]="signupForm.get('email').valid || signupForm.get('email').untouched"
            class="text-danger">Enter your email</small>
    </div>

    <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" formControlName="password"
            [class.is-invalid]="signupForm.get('password').invalid && signupForm.get('password').touched">
        <small [class.d-none]="signupForm.get('password').valid || signupForm.get('password').untouched"
            class="text-danger">Enter your password</small>
    </div>

    <div class="form-group">
        <label for="">Confirm Password</label>
        <input type="password" class="form-control" formControlName="confirmPassword"
            [class.is-invalid]="signupForm.errors?.mismatch">
        <small [class.d-none]="!signupForm.errors?.mismatch" class="text-danger">Passwords do not match</small>
    </div>

    <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" formControlName="name"
            [class.is-invalid]="signupForm.get('name').invalid && signupForm.get('name').touched">
        <small [class.d-none]="signupForm.get('name').valid || signupForm.get('name').untouched"
            class="text-danger">Enter your name</small>
    </div>

    <div class="text-center"><button [disabled]="signupForm.invalid || created" class="btn btn-primary m-3 btn-lg">Submit</button></div>   

</form>

<div *ngIf="message != null">
    <div *ngIf="created" class="alert alert-success">{{message}}</div>
    <div *ngIf="!created" class="alert alert-danger">{{message}}</div>
</div>

Already have an account? <a href="/login">Login</a>