/* You can add global styles to this file, and also import other style files */
body {
    background: url(./assets/images/city.png) no-repeat center center fixed; 
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
}
