
<p class="lead">This app is for users who want to keep track of their home inventory.</p>

<div [hidden]="!authenticated()">
    <p>Hello </p>
    <p>Thank you for logging in with Home nVentory!</p>
</div>

<div class="text-center" [hidden]="!authenticated()">
    <button (click)="goToInventory()" class="btn btn-primary btn-lg m-3">Inventory</button>
    <button (click)="goToMyAccount()" class="btn btn-secondary btn-lg m-3">My Account</button>
</div>

<div class="text-center" [hidden]="authenticated()">
    <button (click)="goToLogin()" class="btn btn-primary btn-lg m-3">Login</button>
    <button (click)="goToSignUp()" class="btn btn-secondary btn-lg m-3">Sign up</button>
</div>